@model Entitylayer.Concrete.OurService

<section class="container py-5">



    <div class="row d-flex pb-5">
        <div class="col-lg-5 offset-lg-0 col-md-8 offset-md-2">
            <img class="rounded float-right " style="object-fit:cover; aspect-ratio:4/3;width:100%" src="~/img/@Model.OurServiceimg">
        </div>

        <div class="col-lg-7">

            <!-- Start Pricing List -->
            <h1 class="top-0 text-center">@Model.OurServiceName</h1>
            <p>@Model.OurServiceDesc</p>



        </div>
    </div>
</section>