@model Entitylayer.Work

<section class="container py-5">

   

    <div class="row d-flex pb-5">
 <div class="col-lg-5 offset-lg-0 col-md-8 offset-md-2">
            <img class="rounded float-right " style="object-fit:cover; aspect-ratio:4/3;width:100%" src="~/img/our-work-05.jpg">
        </div>

        <div class="col-lg-7">

            <!-- Start Pricing List -->
            <h1 class="top-0 text-center">@Model.WorkTitle</h1>
            <p>@Model.WorkContent</p>
            


        </div>
    </div>
</section>