<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bitirme Tezi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/img/IWEX.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/IWEX.ico">
    <!-- Load Require CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font CSS -->
    <link href="~/css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="~/css/templatemo.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">
    <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <!--

    TemplateMo 561 Purple Buzz

    https://templatemo.com/tm-561-purple-buzz

    -->
</head>
<body>
<nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" asp-area="" asp-controller="Home" asp-action="Index">
                <i class=' bx-sm text-dark'>   <img style="height:60px ;" class="service card-img" src="~/img/LOGO.jpg" alt="Card image"></i>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
            <div class="flex-fill mx-xl-5 mb-2">
                <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                    <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" asp-area="" asp-controller="About" asp-action="Index">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" asp-area="" asp-controller="Work" asp-action="Index">Projelerimiz</a>
                    </li>
                    
                    <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" asp-area="" asp-controller="Contact" asp-action="Index">İletişim</a>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</nav>
  @RenderBody()
<footer class="bg-secondary pt-4">
    <div class="container">
        <div class="row py-4">

            <div class="col-lg-3 col-12 align-left">
                    <img src="/img/beyaz.png" width="200" height="70" alt="" />
              
                     
                   
                    


                <p class="text-light my-lg-4 my-2">
                  IWEX Teknoloji Sosyal Medya Hesaplarımızdan Bize Ulaşın
                </p>
                <ul class="list-inline footer-icons light-300">
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="http://facebook.com/">
                            <i class='bx bxl-facebook-square bx-md'></i>
                        </a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="https://www.linkedin.com/">
                            <i class='bx bxl-linkedin-square bx-md'></i>
                        </a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="https://www.whatsapp.com/">
                            <i class='bx bxl-whatsapp-square bx-md'></i>
                        </a>
                    </li>
                   
                   
                </ul>
            </div>
                <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                    <h3 class="h4 pb-lg-3 text-light light-300">
                    IWEX</h3>
                    <ul class="list-unstyled text-light light-300">
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light" href="/">Anasayfa</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="/About">Hakkımızda</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="/Work">Projelerimiz</a>
                        </li>
                      
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="/Contact">İletişim</a>
                        </li>
                    </ul>
                </div>

            <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                    <h2 class="h4 pb-lg-3 text-light light-300">İletişim Bilgileri</h2>
                    <ul class="list-unstyled text-light light-300">
                        <li class="pb-2">
                            <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1" href="mailto:info@iwex.com">info@iwex.com</a>
                        </li>
                    </ul>
            </div>


            <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.5476726253805!2d31.172913515248013!3d40.90373607931158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409da0db61c98693%3A0xeb421a6422f81e6d!2zRMO8emNlIMOcbml2ZXJzaXRlc2k!5e0!3m2!1str!2str!4v1673181643263!5m2!1str!2str" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </div>

        </div>

    </div>

    <div class="w-100 bg-primary py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-lg-6 col-sm-12">
                    <p class="text-lg-start text-center text-light light-300">
                        © Copyright 2021.Tüm Hakları Saklıdır.
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <p class="text-lg-end text-center text-light light-300">
                        Designed by <a rel="sponsored" class="text-decoration-none text-light" href="https://templatemo.com/" target="_blank"><strong>IWEX</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>

</footer>
</body>

</html>
<!-- End Recent Work -->
<!-- Bootstrap -->
<script src="~/js/bootstrap.bundle.min.js"></script>
<!-- Load jQuery require for isotope -->
<script src="~/js/jquery.min.js"></script>
<!-- Isotope -->
<script src="~/js/isotope.pkgd.js"></script>
<!-- Page Script -->
<script>
    $(window).load(function () {
        // init Isotope
        var $projects = $('.projects').isotope({
            itemSelector: '.project',
            layoutMode: 'fitRows'
        });
        $(".filter-btn").click(function () {
            var data_filter = $(this).attr("data-filter");
            $projects.isotope({
                filter: data_filter
            });
            $(".filter-btn").removeClass("active");
            $(".filter-btn").removeClass("shadow");
            $(this).addClass("active");
            $(this).addClass("shadow");
            return false;
        });
    });
</script>
<!-- Templatemo -->
<script src="~/js/templatemo.js"></script>
<!-- Custom -->
<script src="~/js/custom.js"></script>