@using BusinessLayer.Concrete
@using DataAcceLayer.EntityFramework
@using System.IO
@inject NavigationManager navManager
@page "/OurServiceUpdate/{id:int}"
@{
    ourService = Wm.GetById(id);
   
}

<div class="row">

    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
               
            </div>
            <div class="card-body">
                
                <EditForm Model="ourService" OnValidSubmit="() =>UpddateOurService(ourService)">
                    <DataAnnotationsValidator/>
                    <SfUploader ID="UploadFiles" AllowMultiple="false" AllowedExtensions=".jpg,.png,.jpeg">
                        <UploaderEvents ValueChange="OnChange" OnRemove="OnRemove"></UploaderEvents>

                    </SfUploader>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-fullname">Name</label>
                        <div class="input-group input-group-merge">
                           

                            <InputText type="text"
                                       class="form-control"
                                       aria-describedby="basic-icon-default-fullname2" @bind-Value="ourService.OurServiceName" />
                            <ValidationMessage For="@(() =>ourService.OurServiceName)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-company">Desription</label>
                        <div class="input-group input-group-merge">
                           

                            <InputText type="text"
                                       class="form-control"
                                       aria-describedby="basic-icon-default-company2" @bind-Value="ourService.OurServiceDesc" />
                            <ValidationMessage For="@(() =>ourService.OurServiceDesc)" />
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary">
                           
                        Submit
                    </button>

                </EditForm>
            </div>
        </div>
    </div>
</div>
@code {
    string fimage;
    string ImageName;
    string filePath;
    [Parameter] public int id { get; set; }
    OurServiceManager Wm = new OurServiceManager(new EOurServiceRepository());
    Entitylayer.Concrete.OurService ourService = new Entitylayer.Concrete.OurService();

    CategoryManager Cm = new CategoryManager(new ECategoryRepository());
    private void OnChange(UploadChangeEventArgs args)
    {

        fimage = ourService.OurServiceimg;



        foreach (var file in args.Files)
        {

            ImageName = $@"{Guid.NewGuid()}.jpeg";
            var path = @"wwwroot\img\" + ImageName;
            filePath = path;
            FileStream filestream = new FileStream(path, FileMode.Create, FileAccess.Write);
            file.Stream.WriteTo(filestream);
            filestream.Close();
            file.Stream.Close();
        }
    }
    private void OnRemove(RemovingEventArgs args)
    {
        if (System.IO.File.Exists(filePath))
        {
            ImageName = fimage;
            System.IO.File.Delete(filePath);
        }
    }
    private void UpddateOurService(Entitylayer.Concrete.OurService w)
    {
        if (fimage != ImageName)
        {
            System.IO.File.Delete(@"wwwroot\img\" + ourService.OurServiceimg);
        }
        if (fimage != null)
        {
            w.OurServiceimg = ImageName;
        }
        else
        {
            w.OurServiceimg = ourService.OurServiceimg;
        }
        w.OurServiceID = id;
        w.OurServiceStatus = true;
        Wm.OurServiceUpdate(w);
        navManager.NavigateTo("/ourServiceadmin", true);

    }
}
